
  
  .switcher h4{
 cursor: pointer;
 color:brown;

  }
  
 

  .switcher h4:hover{
    color:#00f !important;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.459);
    padding: 3px;
    border-radius: 3px;
   }
  .Login {
    /* background-image: url("../img/health.jpg"); */
    background-color: #cccccc;
    display: flex;
    height:100vh;
    width:100vw;
    flex-direction: column;
          background-color: #d3ddc4;
    align-items:center
  }
h1{
    color:#3f50b5;
}
  .Login form {
   
display: flex;
align-items: center;
flex-direction: column;
    min-width: 60vw;
    max-width: 20vw;
    height: 50vh;
    justify-content: space-around;

  }
  .dv_email{
      margin: 0.3cm;
      padding: 15px;
      justify-content: space-between;

  }
  .submit{
    background-color: #ffffff85;
    margin: 0.5 cm;
  }
  label.form-label {
    font-size: large;
    color: rgb(37, 85, 219);
    padding: 5px;
    margin: 10px;
}
.inputs{
  
        border: none;
        width: 190px;
        padding: 5px;
        justify-content: center;
        /* align-items: center; */
        align-self: center;
 
}
/* submit btn  */
